{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block content %}

<h2>Doctors</h2>

<a href="{{ url_for('doctors.new_doctor') }}">
    Add New Doctor
</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Actions</th>
    </tr>

    {% for doctor in doctors %}

    <tr>

        <td>{{ doctor.id }}</td>

        <td>{{ doctor.name }}</td>

        <td>{{ doctor.specialization }}</td>

        <td>

            <a href="{{ url_for('doctors.get_doctor', id=doctor.id) }}">
                View
            </a>

            |

            <a href="{{ url_for('doctors.edit_doctor', id=doctor.id) }}">
                Edit
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}